*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(237, 237, 237);
}
#main{
    display: flex;
    flex-direction: row;
    height: 600px;
    background-color: rgb(10, 10, 10);
    border-radius: 3%;
    margin: 5% 10%;
}
a{
    text-decoration: none;
}
#sideNavBar{
    display: flex;
}
#ulSideBar{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 10px 20px;
    margin: 10px 20px;
}

#ulSideBar li a i{
    transition: ease-in-out 0.3s;
    text-shadow: rgb(199, 71, 250) 0 0 10px;
}
#ulSideBar li a i:hover{
    color: rgb(181, 0, 252);
    font-size: 140%;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}
#ulSideBar li a i:active{
    color: rgb(142, 0, 199);
    font-size: 140%;
}
#ulSideBar li:nth-child(6){
    margin-bottom: 10rem;
}

#ulSideBar li:nth-child(7) a i:hover{
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0 0 15px;
    font-size: 150%;
}
#ulSideBar li:nth-child(8) a i:hover{
    color: rgb(217, 188, 0);
    text-shadow: rgb(255, 255, 255) 0 0 15px;
}

#topNavBar{
    width: 90%;
    padding: 10px 50px;
}
#topNavBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
#topNavBar input,.fa.fa-search{
    color: rgb(0, 0, 0);
}