*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(237, 237, 237);
}
#main{
    display: flex;
    flex-direction: row;
    height: 600px;
    background-color: rgb(10, 10, 10);
    border-radius: 3%;
    margin: 5% 10%;
}
a, ul{
    text-decoration: none;
    list-style: none;
}
#sideNavBar{
    display: flex;
    padding: 0 5px;
}
#ulSideBar{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 15px;
    margin: 10px 20px;
    width: 20px;
}

#ulSideBar li a i{
    transition: ease-in-out 0.3s;
    text-shadow: rgb(199, 71, 250) 0 0 10px;
}
#ulSideBar li a i:hover{
    color: rgb(181, 0, 252);
    font-size: 140%;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}
#ulSideBar li a i:active{
    color: rgb(142, 0, 199);
    font-size: 140%;
}
#ulSideBar li:nth-child(6){
    margin-bottom: 10rem;
}

#ulSideBar li:nth-child(7) a i:hover{
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0 0 15px;
    font-size: 150%;
}
#ulSideBar li:nth-child(8) a i:hover{
    color: rgb(217, 188, 0);
    text-shadow: rgb(255, 255, 255) 0 0 15px;
}


@media screen and (max-width: 700px) {
    #topNavBar{
      display: none;
    }
}
@media screen and (max-width: 1100px) {
    #rank, #rank ul{
      display: none;
    }
    #topNavBar{
        width: 50%;
        margin-right: 75px;
    }
    #ulSideBar{
        padding: 8px 13px;
        margin: 8px 17px;
    }
}

#topNavBar{
    width: 90%;
    padding: 20px 0px;
}
#topNavBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 10px 15px;
}
#topNavBar input,.fa.fa-search{
    color: rgb(0, 0, 0);
}

#rank ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    margin: 0 10px;
}

#content{
    width: 100%;
    height: 80%;
    background-color: rgb(94, 94, 94);
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
}
#content button{
    color: black;
}
.gameon{
    display: none;
}

#rank img{
    display: block;
    margin: 10px auto;
}

#rank li i{
    transition: ease-in-out 0.3s;
    text-shadow: rgb(199, 71, 250) 0 0 10px;
}
#rank img{
    box-shadow: rgb(199, 71, 250) 0 0 10px;
}
.rps{
    width: 8rem;
    height: 9rem;
    margin: 0 20px;
}
.rps:hover{
    animation: shake 0.4s;
    cursor: pointer;
}
@keyframes shake {
    0%{
        transform: rotate(0deg) translate3d(0px);
    }
    25%{
        transform: rotate(-5deg) translateX(-5px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(5deg) translateX(5px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}