* {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  transition: 2s;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://e0.pxfuel.com/wallpapers/584/178/desktop-wallpaper-gaming-background-cool-black-and-red-gaming.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
}
#main {
  display: flex;
  align-content: center;
  height: 700px;
  width: 70%;
  background-color: rgb(29, 29, 29);
  border-radius: 50px;
  margin: 5% 10%;
  box-shadow: black 0 0 50px;
  border: 1px solid rgb(61, 61, 61);
}
a,
ul {
  text-decoration: none;
  list-style: none;
}
#sideNavBar {
  display: flex;
  padding: 0 5px;
}
#ulSideBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 15px;
  margin: 15px 20px;
  width: 30px;
}

#ulSideBar li a i {
  transition: ease-in-out 0.3s;
  text-shadow: red 0 0 10px;
}
#ulSideBar li a i:hover {
  color: red;
  font-size: 140%;
  text-shadow: rgb(255, 255, 255) 0 0 10px;
}
#ulSideBar li a i:active {
  color: rgb(0, 0, 0);
  font-size: 140%;
}
#ulSideBar li:nth-child(6) {
  margin-bottom: 10rem;
}

#ulSideBar li:nth-child(7) a i:hover {
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 0 0 15px;
  font-size: 150%;
}
#ulSideBar li:nth-child(8) a i:hover {
  color: rgb(217, 188, 0);
  text-shadow: rgb(255, 255, 255) 0 0 15px;
}

#rank ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  padding: 0 20px;
  margin: 0 10px;
}

#content {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 80%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.titleRps {
  margin: 20px 0px;
  letter-spacing: 0.0015em;
  font-size: 3em;
  color: rgb(250, 183, 0);
  text-shadow: 0 1px rgb(88, 23, 23), -1px 0 black, -1px 2px rgb(88, 23, 23),
    -2px 1px black, -2px 3px rgb(88, 23, 23), -3px 2px black,
    -3px 4px rgb(88, 23, 23), -4px 3px black;
  text-align: center;
}

.titleBj {
  padding-bottom: 5rem;
  margin: 20px 0px;
  letter-spacing: 0.0015em;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 0, 0) 0 0 10px, rgb(255, 0, 0) 0 0 10px,
    rgb(255, 0, 0) 0 0 10px, rgb(255, 0, 0) 0 0 10px;
  text-align: center;
}

.gameon {
  display: none;
}

#rank img {
  display: block;
  margin: 10px auto;
}

#rank li i {
  transition: ease-in-out 0.3s;
  text-shadow: red 0 0 10px;
}
#rank img {
  box-shadow: red 0 0 10px;
}
/*Class for the result*/
.choices {
  width: 6rem;
  height: 7rem;
  padding-top: 10px;
  margin: 15px 25px;
}

.handOne,
.handTwo {
  width: 6rem;
  height: 7rem;
  margin: 15px 20px;
}
.handOne {
  rotate: 90deg;
  padding-top: 7%;
  animation: handOneShake 3s;
}
.handTwo {
  rotate: -90deg;
  padding-top: 7%;
  animation: handTwoShake 3s;
}

@keyframes handOneShake {
  0% {
    transform: rotate(0deg) translate3d(0px);
  }
  14% {
    transform: rotate(-20deg) translateX(-20px);
  }
  30% {
    transform: rotate(0deg) translateX(0px);
  }
  44% {
    transform: rotate(-20deg) translateX(-20px);
  }
  55% {
    transform: rotate(0deg) translateX(0px);
  }
  90% {
    transform: rotate(-20deg) translateX(-20px);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}
@keyframes handTwoShake {
  0% {
    transform: rotate(0deg) translate3d(0px);
  }
  14% {
    transform: rotate(20deg) translateX(20px);
  }
  30% {
    transform: rotate(0deg) translateX(0px);
  }
  44% {
    transform: rotate(20deg) translateX(20px);
  }
  55% {
    transform: rotate(0deg) translateX(0px);
  }
  90% {
    transform: rotate(20deg) translateX(20px);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}
.rps {
  width: 6rem;
  height: 7rem;
  margin: 25px 20px;
}
.rps:hover {
  animation: shake 0.4s;
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: rotate(0deg) translate3d(0px);
  }
  25% {
    transform: rotate(-5deg) translateX(-5px);
  }
  50% {
    transform: rotate(0deg) translateX(0px);
  }
  75% {
    transform: rotate(5deg) translateX(5px);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}

.betsImg:hover,
.betsImg:focus {
  color: #ffffff;
  background: #e70707;
  box-shadow: 0 0 5px #e70707, 0 0 20px #e70707, 0 0 50px #e70707,
    0 0 100px #e70707;
}
.betsImg {
  height: 5rem;
  width: 5rem;
  margin: 10px 5px;
  text-transform: uppercase;
  border-radius: 50%;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
}
.betsRemove:focus,
.betsRemove:hover {
  color: #ffffff;
  background: #e70707;
  border: 1px solid #e70707;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #e70707, 0 0 20px #e70707, 0 0 50px #e70707,
    0 0 100px #e70707;
}
.betsRemove {
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background-color: #000000;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}
.btnStyle:hover,
.btnStyle:focus,
#rpsMenu:hover,
#rpsMenu:focus {
  color: #ffffff;
  background: #e70707;
  border: 1px solid #e70707;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #e70707, 0 0 20px #e70707, 0 0 50px #e70707,
    0 0 100px #e70707;
}

#startbtn:hover,
#startbtn:focus,
#playAgain:hover,
#playAgain:focus {
  color: #ffffff;
  background: #00ff6a;
  border: 1px solid #00ff6a;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00ff6a, 0 0 20px #00ff6a, 0 0 50px #00ff6a,
    0 0 100px #00ff6a;
}

#startbtn,
#playAgain,
#rpsMenu,
.btnStyle {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 1.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ring {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 10px;
  color: #ff0000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #ff0000;
  border-right: 3px solid #ff0000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loading {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loading:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff0000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #ff0000;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.textDealing {
  color: red;
}

.dealing {
  margin-top: 6rem;
}

.dealerBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.infoBj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.infoChild {
  width: 80%;
}
.playerBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.cards {
  width: 8vh;
  height: 12vh;
}
.smothBg {
  background-image: linear-gradient(to right, transparent, black, transparent);
  width: 100%;
}

/* Double up BTN */

#double:hover {
  color: #000000;
  background: #ffc400;
  border: 1px solid #ffc400;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ffc400, 0 0 20px #ffc400, 0 0 50px #ffc400,
    0 0 100px #ffc400;
}
#double {
  width: 85px;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 800;
  color: #000000;
  text-shadow: none;
  background-color: #ffc400e5;
  cursor: pointer;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

/* Hit BTN */

#hit:hover {
  color: #000000;
  background: #30ff3b;
  border: 1px solid #30ff3b;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #30ff3b, 0 0 20px #30ff3b, 0 0 50px #30ff3b,
    0 0 100px #30ff3b;
}

#hit {
  height: 60px;
  width: 75px;
  padding: 10px 15px;
  margin-right: 15px;
  margin-left: 25px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 800;
  color: #000000;
  text-shadow: none;
  background-color: #30ff3be5;
  cursor: pointer;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

/* Stand BTN */

#stand:hover {
  color: #000000;
  background: #ff2323;
  border: 1px solid #ff2323;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ff2323, 0 0 20px #ff2323, 0 0 50px #ff2323,
    0 0 100px #ff2323;
}

#stand {
  height: 60px;
  width: 75px;
  padding: 10px 15px;
  margin-right: 25px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 800;
  color: #000000;
  text-shadow: none;
  background-color: #ff2323e5;
  cursor: pointer;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

/* Split BTN */

#split:hover {
  color: #000000;
  background: #00a2ff;
  border: 1px solid #00a2ff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00a2ff, 0 0 20px #00a2ff, 0 0 50px #00a2ff,
    0 0 100px #00a2ff;
}
/* ON */
#split {
  width: 85px;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 800;
  color: #000000;
  text-shadow: none;
  background-color: #00a2ffe5;
  cursor: pointer;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}
/* OFF */
.defaultBtn {
  width: 85px;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 800;
  color: #000000;
  text-shadow: none;
  background-color: #777777e5;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.blackBg {
  background-image: linear-gradient(
    to right,
    transparent,
    black,
    black,
    black,
    transparent
  );
  padding: 0px 30px;
}

.loseBg {
  color: red;
  background-image: linear-gradient(
    to right,
    transparent,
    black,
    black,
    black,
    transparent
  );
  padding: 0px 50px;
}

.inv {
  display: none;
}
